body {
    background-color: #22223B;
    color: #CDD3D5;
}
h1 {
    font-size: 190%;
    font-family: 'Source Serif Pro', serif;
    text-align: center;
    margin-top: 20%;
}
#slogan {
    font-family: 'Lobster', cursive;
    text-align: center;
}

button {   
    background-color: #4CAF50;   
    width: 100%;  
     color: orange;   
     padding: 15px;   
     margin: 5px;  
     border-radius: 5px;   
     cursor: pointer;  
     align-items: center; 
      }   
form {   
     width: 100%;
     /*width: 50%;*/
 }   
input[type=text], input[type=password] {   
    /* width: 50%;   */
    width: 100%;
     margin: 5px;  
     padding: 12px 20px;      
     border: 2px solid green;   
     box-sizing: border-box;   
     border-radius: 5px;
          
 }  
button:hover {   
     opacity: 0.7;   
 }   
       
.container {  
    min-width: 250px;
    width: 50%; 
     padding: 25px;   
     background-color: lightblue;  
     display: block;
     border-radius: 5px;
     margin: auto;/*yall forgot to put the ;*/
     /*margin: auto;
     width: 50%; */
 }

 form p{
     color: #4F5D75;
     text-align: center;
 }

 .afterLoginPics {
 height: 250px;
 }

 .testPrep {
    font-family: 'Roboto Slab', serif;
 }

 .planner {
    font-family: 'Roboto Slab', serif;
 }
/*
    __ {
    background color:
    font-size:
    text-align: center
}
    can be used for most boxes, and may have to be adjusted accordingly.

    __ {
    border-height:
    border-style: solid
    background-color:
    font-size:
    text-align: center;
}
    specifically for the copyright banner on the home page
*/

.afterLogin {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    height: 30px; 
}